@import "../map/map.css";

/* 背景图通用设置 */
body {
  background-image: var(--scope-bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* h1不包含语义标签<i>时: */
/* -> 背景图片以轮播动画效果展示 轮播间隔约为10min */
body:not(:has(h1:first-of-type > span:nth-child(1 of [md-inline="tag"]))) {
  /* 按指定间隔 无限轮播 CarouselBackgroundImageList中指定的图片 */
  animation: CarouselBackgroundImageList var(--scope-bg-image-period)
    ease-in-out infinite;
  /* 平滑淡入淡出 */
  transition: var(--scope-bg-image) 1s linear;
}

/* h1拥有一个语义标签(<i>)时: */
/* -> 关闭背景图片轮播动画效果逻辑, 并展示指定背景图 */
/* 指定背景图: carousel.css: --scope-bg-image: var(--bg-image-0) */
body:has(h1:first-of-type > span:nth-child(1 of [md-inline="tag"])) {
  animation: none;
}

/* 背景图片相关设置 */
/* h1拥有两个及以上语义标签(<i>)时: */
/* -> 不展示背景图片  */
body:has(h1:first-of-type > span:nth-child(2 of [md-inline="tag"])) {
  background-image: none;
  animation: none;
}

/* 设置 -> 偏好设置 -> 背景图导致文本看不清问题 */
body.light.unibody-window {
  background-image: none !important;
  animation: none !important;
}
